<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.wearable.permission.RECEIVE_COMPLICATION_DATA" />

    <application
        android:name=".auth.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault"
        android:usesCleartextTraffic="true">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".presentation.ReactActivity"
            android:exported="false"
            android:label="@string/title_activity_presentation._react"
            android:theme="@android:style/Theme.DeviceDefault" />



        <activity
            android:name=".WriteRantActivity"
            android:exported="false"
            android:label="@string/title_activity_write_rant" />
        <activity
            android:name=".NotifActivity"
            android:exported="false"
            android:label="@string/title_activity_notif" />
        <activity
            android:name=".FollowingActivity"
            android:exported="false"
            android:label="@string/title_activity_follow" />
        <activity
            android:name=".ReactionActivity"
            android:exported="false"
            android:label="@string/title_activity_reaction" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".SearchActivity"
            android:exported="false"
            android:label="@string/title_activity_search" />
        <activity
            android:name=".AvatarActivity"
            android:exported="false"
            android:label="@string/title_activity_avatar" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_profile" />
        <activity
            android:name=".RantActivity"
            android:exported="false"
            android:label="@string/title_activity_rant" />
        <activity
            android:name=".OptionActivity"
            android:exported="false"
            android:label="@string/title_activity_option" />
        <activity
            android:name=".ReplyActivity"
            android:exported="false"
            android:label="@string/title_activity_reply" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="androidx.wear.activity.ConfirmationActivity" />

        <service
            android:name=".MyWatchFace"
            android:exported="true"
            android:label="Avatar"
            android:permission="android.permission.BIND_WALLPAPER">

            <!--
            By default, Watchfaces on rectangular devices will be run in a emulation mode where they
            are provided a square surface to draw the watchface (allows watchfaces built for
            circular and square devices to work well).

            For this watchface, we explicitly enable rectangular devices, so we get the complete
            surface.
            -->
            <meta-data
                android:name="android.service.wallpaper.square_mode"
                android:value="false" />
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/empty_screen_full_black1" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/empty_screen_full_black1" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />

                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>
    </application>

</manifest>